@use "sass:math";
@mixin button($bg, $c, $p, $br, $lh, $fs, $fw){
    background: $bg;
    color: $c;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    padding: $p;
    border: none;
    border-radius: $br;
    outline: none;
}

@mixin h1($fs, $fw, $lh){
    color: white;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}

@mixin text($c, $fs, $fw, $lh){
    color: $c;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}

@mixin flex($fd, $ai, $jc, $g){
    display: flex;
    @if $fd {
        flex-direction: $fd;
    }
    @if $ai {
        align-items: $ai;
    }
    @if $jc {
        justify-content: $jc;
    }
    @if $g {
        gap: $g;
    }
}